:root{
    --colorPrimary: #2584ff;
    --colorSecondary: #00d9ff;
    --colorAccent: #ff3400;
    --colorHeading: #1b0760;
    --colorBody: #918ca4;
}

*, *::after, *::before{
    box-sizing: border-box;
}

/* Typography */
html{
    font-size: 62.5%;
}
body{
    color: var(--colorBody);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3{
    color: var(--colorHeading);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/* Links */
a{
    text-decoration: none;
}

.learnMoreLink{
    color: var(--colorAccent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.learnMoreLink::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.25s;
}

.learnMoreLink:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .learnMoreLink{
        font-size: 1.5rem;
    }
}

/* Bdges */
.badge{
    border-radius: 20px;
    font-weight: 600;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badgePrimary{
    background-color: var(--colorPrimary);
    color: white;
}

.badgeSecondary{
    background-color: var(--colorSecondary);
    color: white;
}

.badgeSmall{
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }

    .badgeSmall{
        font-size: 1.2rem;
    }
}

/* Lists */
.list{
    list-style: none;
    padding-left: 0;
    color: var(--colorHeading);
}

.listInline .listItem{
    display: inline-block;
}

.listInline .listItem:nth-child(even){
    margin: 0 2rem;
}

.listTick{
    list-style-image: url(/images/tick.svg);
    margin: 3rem;
}

.listTick .listItem{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
    .listTick .listItem{
        padding-left: 0;
    }
}

/* Icons */
.icon{
    height: 40px;
    width: 40px;
}

.iconPrimary{
    fill: var(--colorPrimary);
}

.iconContainer{
    background-color: #f3fafa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
.btn{
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btnPrimary{
    background-color: var(--colorPrimary);
    color: white;
}

.btnPrimary:hover{
    background: #3a8ffd;
}

.btnSecondary{
    background-color: var(--colorSecondary);
    color: white;
}

.btnSecondary{
    background: #00c8eb;
}

.btnAccess{
    background-color: var(--colorAccent);
    color: white;
}

.btnAccess:hover{
    background: #e42e00;
}

.btnOutline{
    background-color: white;
    color: var(--colorHeading);
    border: 2px solid var(--colorHeading);
}

.btnOutline:hover{
    background-color: var(--colorHeading);
    color: white;
}

.btnBlock{
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 1024px){
    .btn{
        font-size: 1.5rem;
    }
}