:root{
    --color-accent: #ff3400;
    --color-body: #574e73;
    --color-heading: #1b0760;
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --border-radius:40px;
}

/* Typography */
html{
    font-size: 62.5%; 
}

body{
    color: var(--color-body);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    line-height: 1.5;
}

h1, h2, h3{
    color: var(--color-heading);
    margin-bottom: 1rem;
}

h1{
    text-size-adjust: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.8rem;
    }
    
    h1{
        font-size: 8rem;
    }

    h3{
        font-size: 2.4rem;
    }
}

/* Link */
a{
    text-decoration: none;
}

.link--arrow{
    color: var(--color-accent);
    font-weight: bold;
    font-size: 2.4rem;
}


.link--arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link--arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* Badge */
.badge{
    background: var(--color-primary);
    border-radius: var(--border-radius);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 5px 20px;
    white-space: nowrap;
}

.badge--small{
    font-size: 1.6rem;
}

.badge--primary{
    background: var(--color-primary);
}

.badge--secondary{
    background: var(--color-secondary)
}

@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge-small{
        font-size: 1.2rem;
    }
}

/* List */
.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-heading);
}

.list--inline .list--item{
    display: inline-block;
    margin-right: 2rem;
}

.list--check{
    list-style-image: url(/images/tick.svg);;
    padding-left: 3rem;
}

.list--check .list--item{
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

@media screen and (min-width: 1024px){
    .list--check .list--item{
        margin-left: 0;
    }
}

/* Icon */
.icon{
    width: 30px;
    height: 30px;
}

.icon--primary{
    fill: var(--color-primary)
}

.icon-container{
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex; /* It makes an incon stay inside the container */
    height: 40px;
    justify-content: center;
    width: 40px;
}

/* Button */
.btn{
    margin: 1rem 0;
    padding: 2rem 3rem;
    border: 0;
    border-radius: var(--border-radius);
    color: var(--color-heading);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.8rem;
}

.btn--primary{
    border: 2px solid var(--color-heading);
}

.btn--primary:hover{
    background-color: var(--color-heading);
    color: white;
}

.btn--secondary{
    background-color: var(--color-secondary);
    color: white;
}

.btn--secondary:hover{
    background-color: #00c9ec;
}

.btn--accent{
    background-color: var(--color-accent);
    color: white;
}

.btn--block{
    width: 100%;
    /* display inline block */
}

@media screen and (min-width: 1024px){
    .btn{
        font-size: 1.5rem;
    }
}

/* Input */
.input{
    font-size: 2rem;
    border: 1px solid lightgrey;
    border-radius: var(--border-radius);
    color: var(--color-heading);
    padding: 1.5rem 3.5rem;
    outline: 0;
}

::placeholder{
    color: #bab4cf;
}