<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ut, quis!
        </p>
    </header>
    <div class="card card--primary" style="width: 35%;">
        <div class="card__header">
            <h3 class="plan__title">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__period">/month</span>
            <span class="badge badge--small badge--primary">10% OFF</span>
            <span class="plan__description">Easy start on the cloud</span>
        </div>
        <div class="card__body">
            <ul class="list list--check">
                <li class="list--item">Item1</li>
                <li class="list--item">Item2</li>
                <li class="list--item">Item3</li>
                <li class="list--item">Item4</li>
            </ul>
            <button class="btn btn--block btn--primary">buy now</button>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ut, quis!
            </p>
        </header>
    </div>
</section>