<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item1</h2>
        <span class="icon-container">
            <svg class="icon icon--white collapsible__chevron">
                <use xlink:href="images/sprite.svg#chevron-backup"></use>
            </svg>
        </span>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet.
    </div>
</div>

<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item1</h2>
        <span class="icon-container">
            <svg class="icon icon--white collapsible__chevron">
                <use xlink:href="images/sprite.svg#chevron-backup"></use>
            </svg>
        </span>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet.
    </div>
</div>